/target
# These dirs are what generally stores our test data, don't check in.
**/test_log
.DS_Store

# Generated cap n proto does not need to bee checked in
**/*_capnp.rs

# Remove this when ready to run Go integ tests
images/GoBase.Dockerfile

lucidglue