/target
# These dirs are what generally stores out test data, don't check in.
**/test_log
.DS_Store

# Generated cap n proto does not need to bee checked in
**/*_capnp.rs

# Remove to add lucidmq python client library when ready
lucidmq-py